@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto;
}

.i-logo-h {
    width: 150px;
}
.i-logo {
    width: 50px;
}
.i-illustration:nth-child(1){
    width: 650px;
}
.i-illustration {
    width: 750px;
}

#navbar{
    padding: 2% 10% 0% 6%;
    background-color: #7030CC;
    display: flex;
    justify-content: space-between;
}
#navbar ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px
}
#navbar ul li {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    list-style-type: none;
    padding-top: 10px;
    color: #fff;
}

#navbar button {
    padding: 15px 15px;
    background-color: #1BBCEF;
    color: #fff;
    border: none;
    font-weight: bold;
}
#navbar ul li:nth-child(1){

    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: #eee;
    color: #1BBCEF;

}

/****** intro section ******/
#intro {
    display: flex;
    padding-left: 6%;
    background-color: #7030CC;
    justify-content: space-between;
    justify-items: center;
    color: #fff;
    padding-bottom: 2%;
}
.i-typo h1{
   font-size: 3.5rem;
   padding-top: 33%;
   letter-spacing: 1px;
   padding-bottom: 10%;
}


/****** spec *******/
#spec {
    display: flex;
    padding: 1% 6% 4% 6%;
    justify-content: space-around;
}
.spec-typo {
    padding-top: 13%;
}

.spec-typo h2 {
    font-size: 2rem;
    padding-bottom: 10%;
}
.spec-typo ul p {
    padding-bottom: 8%;
    padding-left: 30px;
}
.spec-typo ul li {
    background-size: 20px 20px;
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 30px;
    padding-bottom: 10px;
    list-style-type: none;
}

.spec-typo ul li:nth-child(1) {
    background-image: url(./asset/share-solid.svg);
    background-repeat: no-repeat;
}
.spec-typo ul li:nth-child(3) {
    background-image: url(./asset/share-solid\ copy.svg);
    background-repeat: no-repeat;
}
.spec-typo ul li:nth-child(5) {
    background-image: url(./asset/share-solid\ copy\ 2.svg);
    background-repeat: no-repeat;
}

/***** features *******/
#features {
    padding: 2% 6% 6% 6%;
    text-align: center;
}
#features h2 {
    padding-bottom: 6%;
    font-size: 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.img-container {
    margin: auto;
    width: 100px;
    border-radius: 50%;
}

.i-c-one {
    background-color: #FAEAEB;
}
.i-c-two {
    background-color: #FBF0EE;
}
.i-c-three {
    background-color: #E9F4F6;
}
.i-c-four {
    background-color: #F2E7F5;
}
.img-container img {
    padding-top: 22px;
    padding-bottom: 22px;
}
figure {
    box-shadow: 10px 10px 1px rgb(128, 125, 125);
    margin: 0 15px;
    width: 250px;
    padding-top: 3%;
    border-radius: 20px;
}
figcaption {
    margin-top: 20%;
    padding-top: 20px;
    border-radius: 20px;
    border: none;
    padding-bottom: 25px;
}
figcaption.cap-active {
    background-color:#7030CC;

}